* {
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
    color: #000;
}
body{
    font-family: 'Roboto', sans-serif;
    overflow-wrap: break-word;/*break-word - слова, які зазвичай не можна перенести по складах, можуть бути розбиті в довільних точках, якщо немає інших допустимих розривів у рядку, але можливість м'якого перенесення, представлена розривом слів не розглядається, коли обчислюється мінімальний вміст внутрішніх розмірів.*/
    word-wrap: break-word;/*break-word - При перевищенні меж блоку, які зазвичай залишаються цілими слова, можуть бути розбиті в довільному місці, якщо не буде знайдено більш відповідне для перенесення рядка місце.*/
}
.container{
    max-width: 100%;
    min-width: 320px;
}

.wrap{
    min-width: 320px;
    max-width: 990px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;/*border-box говорить браузеру враховувати будь-які межі та внутрішні відступи у значеннях, які ви вказуєте у ширині та висоті елемента.*/
}
.visually__hidden{/*класс прихованих деяких елементів*/
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    /* white-space управляє тим, як обробляються символи пробілу всередині елемента. */
    white-space: nowrap;/*nowrap - поєднує послідовності пробілів в один пробіл, як значення normal, але не переносить рядки (обертання тексту) всередині тексту.*/
    clip-path: nowrap;/*Властивість CSS clip-path створює область відсікання, яка встановлює, яка частина елемента повинна бути показана. Частини, які знаходяться всередині регіону, показані, а ті, що знаходяться поза ним, приховані.*/
    clip: rect(0, 0, 0, 0);/*Властивість clip CSS визначає видиму частину елемента. Властивість clip застосовується лише до абсолютно позиціонованих елементів*/
    /*функція rect(), яка створює область у формі прямокутника.*/
    overflow: hidden;/*hidden - вміст обрізається, якщо необхідно, щоб відповідати рамці заповнення.*/
}

ul, ol{
    list-style: none;/*прибираємо стилі з списків*/
}